<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="userDao" class="com.kaishengit.dao.UserDao"/>
    <bean id="userServiceImpl" class="com.kaishengit.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao" />
        <property name="age" value="23"/>
        <property name="name" value="jack"/>
        <property name="list">
            <list>
                <value>alex</value>
                <value>james</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>23.22</value>
                <value>45.33</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="k1" value="v1"/>
                <entry key="k2" value="v2"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="p1">v1</prop>
                <prop key="p2">v2</prop>
            </props>
        </property>
    </bean>

</beans>